:root {
  margin: 1rem;

  --header-height: 3.5rem;

  /* Colors */
  --title-color: hsl(40, 48%, 12%);
  --text-color: hsl(40, 24%, 24%);
  --body-color: hsl(40, 4%, 88%);
  --container-color: hsl(40, 48%, 88%);

  /* Fonts */
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 1.74rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.875rem;

  /* Font Weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* z-index */
  --z-tooltip: 10;
  --z-fixed: 100;

  @media screen and (min-width: 1024px) {
    :root {
      --biggest-font-size: 3.75rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.938;
    }
  }
}

.cv-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
  margin: auto;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
}

.cv-form input,
.cv-form textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cv-form button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.workInputContainer {
  display: grid;
}

.educationInputContainer {
  display: grid;
}

.skillsInputContainer {
  display: grid;
}

.inputList {
  display: grid;
}
.inputButton {
  width: 30%;
  margin-left: 35%;
}
.inputListSkill {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}
